<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leanne Graham's Homepage</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="container-fluid">
    <div class ="row doubleColumn">
      <div class="col-sm-5 mx-auto shadow p-3 mb-5 bg-white rounded overflow-auto fixedCol">
        <img src="/img/image.jpg" class="img-fluid" alt="Responsive image">
        <div class="container"> 
          <div class="container-content"><h2><%= name %></h2></div>
          <div class="row custom-gutter">
            <div class="col-xs-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg></div>
            <div class="col-xs-9"><h4><%= phone %></h4></div>
          </div>
          <div class="row custom-gutter">
            <div class="col-xs-3"><img src="/img/category.png" width="20" height="20"></div>
            <div class="col-xs-9"><h4>
              <% for (var i = 0; i < companyBs.length; i++) { %>
                <%= companyBs[i] %>
                <% if (i !== companyBs.length - 1) { %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                  <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg>
                <% } %>
              <% } %>
            </h4></div>
          </div>
          <div class="row custom-gutter">
            <div class="col-xs-3"><img src="/img/icon-24-shop.svg" width="20" height="20"></div>
            <div class="col-xs-9"><h4><%= addressStreet %>, <%= addressSuite %>, <%= addressZipcode %></h4></div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 mx-auto shadow p-3 mb-5 bg-white rounded overflow-auto fixedCol">
        <div class="container-fluid" style="margin-top: 10px;"><h2><%= firstName %>'s Posts</h2></div>
        <div class="container-fluid" style="margin-top: 30px;"><h6><%= postData.length %> Posts</h6></div>
        <% for (var i = 0; i < postData.length; i++) { %>
          <% var currentPostTitle = postData[i].title; %>
          <% var currentPostBody = postData[i].body.split('\n')[0] + " ..."; %>
          <div class="card" style="width: 100%; margin-top: 30px;">
            <div class="card-body">
              <h6 class="card-title"><%= currentPostTitle %></h6>
              <p class="card-text"><%= currentPostBody %></p>
            </div>
          </div>
        <% } %> 
      </div>
    </div> 
  </div>
  <script src="/bootstrapJS/bootstrap.js" type="text/javascript"></script>       
</body>
</html>